*.dll
*.xml
*.pdb
*.dll.config
*.user
packages/
obj/
bin/
dist/
.vs/
*.Cache TestResults/*

# Certain JS NuGet Packages
**/Scripts/bootstrap*
**/Scripts/moment*
**/Scripts/npm.js
**/Scripts/jquery.icheck*
**/Content/bootstrap*
**/Content/iCheck/
**/fonts/glyphicons*

Tests/Nop.CuCollaborate.Tests/FOM/RulesTests/Experiments.cs

Presentation/CuCollaborate/App_Data/Settings.txt
CuCollaborate.Database/CuCollaborate.Database.dbmdl
*.jfm

Presentation/CuMatch/bin1/amd64/Microsoft.VC90.CRT/README_ENU.txt

Presentation/CuMatch/bin1/NLog.config

Presentation/CuMatch/bin1/roslyn/csc.exe.config

Presentation/CuMatch/bin1/roslyn/csc.exe

Presentation/CuMatch/bin1/roslyn/csi.exe

Presentation/CuMatch/bin1/roslyn/csc.rsp

Presentation/CuMatch/bin1/roslyn/csi.rsp

Presentation/CuMatch/bin1/amd64/Microsoft.VC90.CRT/Microsoft.VC90.CRT.manifest

Presentation/CuMatch/bin1/roslyn/Microsoft.CSharp.Core.targets

Presentation/CuMatch/bin1/roslyn/Microsoft.VisualBasic.Core.targets

Presentation/CuMatch/bin1/roslyn/vbc.exe

Presentation/CuMatch/bin1/roslyn/vbc.exe.config

Presentation/CuMatch/bin1/roslyn/vbc.rsp

*.exe

Presentation/CuMatch/bin1/roslyn/VBCSCompiler.exe.config

*.manifest

*.txt

# Certain Plugins
Presentation/CuCollaborate/Plugins/Payments.BrainTree/
TestResults/

.DS_Store

.nuget/NuGet.targets

# VIM Swap files
*.swp
Presentation/CuCollaborate/Web.config

!Presentation/Nop.Web/App_Data/Localization/*
!Presentation/Nop.Web/content/samples/*


